In [ ]:
a=7
if a==4:
  print("this is true");
else:
  print("this is false");
print("this is the final result");

this is false
this is the final result

In [ ]:
game=input("enter you favourite game___")
print("my favourite game is ",game)

enter you favourite game___hrishi
my favourite game is  hrishi

In [ ]:
name=input("your name is ");
age=input("your age is ");
address=input("your adress is ");
print("your SECRET ID IS");
print("name=",name);
print("age=",age);
print("adress=",address);
print("DONT SHARE THIS WITH ANYONE!");
a=0
if a==0:
  print("thank you for your precious time!!!");
else:
  print("please re enter!");
print("SEE YA DUDE!")

your name is hrishi
your age is 13
your adress is nagpur
your SECRET ID IS
name= hrishi
age= 13
adress= nagpur
DONT SHARE THIS WITH ANYONE!
thank you for your precious time!!!
SEE YA DUDE!

In [ ]:
psw=7;
psw=int(input("your password is__"))

if psw==7:
  print("welcome");
else:
  print("incorrect password");

your password is__7
welcome

In [ ]:
psw='789';
psw=input("your password is__")

if psw=='789':
  print("welcome");
else:
  print("incorrect password");

your password is__789
welcome

In [ ]:
age=int(input("your age is- "))
if age>=60:
  print("You are old");
else:
  print("You are young");

In [ ]:
age=int(input("your age is- "))
if age>=35:
  print("Go to sleep");
else:
  print("Lets play");
print(":)")

In [ ]:
number=int(input("the number-"))
if number %2==0:
  print("this number is EVEN");
else:
  print("this number is ODD");

In [ ]:
height1=int(input("height number 1="))
height2=int(input("height number 2="))
if height1>=height2:
  print("object 1 is longer");
else:

  print("object 2 is longer");
print("This is the final result:)")

height number 1=764387589347597348095793475894758973489758932758974897597495783429758934758734983
height number 2=6593478573489578934759847859748957389758934758745893478953748957489573895789375835452
object 2 is longer
This is the final result:)

In [ ]:
psw=7890
psw=int(input("your password is--"));
if psw==7890:
  username='unknown'
  username=input("your username is -");
  if username=="unknown":
    print("your secrect code is 1234567890");
  else:
    print("bye bye dude!");
else:
 print("incorrect password");
 print("your ID is blocked");

your password is--7890
your username is -unknown
your secrect code is 1234567890

In [ ]:
num1=int(input("NUMBER 1 IS-"))
num2=int(input("NUMBER 2 IS-"))
if num1>num2:
  print("NUMBER 1 IS GREATER")
elif num1<num2:
  print("NUMBER 2 IS GREATER")
else:
  print("BOTH NUMBERS ARE EQUAL :)")

NUMBER 1 IS-4328489327489328947632897432894
NUMBER 2 IS-8943687632876412874871264
NUMBER 1 IS GREATER

In [ ]:
num1=float(input("NUMBER 1 IS-"))
num2=float(input("NUMBER 2 IS-"))
if num1>num2:
  print("NUMBER 1 IS GREATER")
elif num1<num2:
  print("NUMBER 2 IS GREATER")
else:
  print("BOTH NUMBERS ARE EQUAL :)")

NUMBER 1 IS-5.12345678990
NUMBER 2 IS-5.1234567890
NUMBER 1 IS GREATER

In [ ]:
n=input("your number is-");
for h in range(1,10,3):
  print(h);
  print("bye!");
print("go home :)");

your number is-56
1
bye!
4
bye!
7
bye!
go home :)

In [ ]:
n=int(input("your number is-"));
for i in range(1,11,1):
  print(n*i);
print("bye")
print("go home :)");

your number is-7
7
14
21
28
35
42
49
56
63
70
bye
go home :)

In [ ]:
for i in range(10,101,10):
  print(i);
print("khatam :)")

10
20
30
40
50
60
70
80
90
100
khatam :)

In [ ]:
for i in range(10,0,-1):
  print(i);
print("khatam")

10
9
8
7
6
5
4
3
2
1
khatam

In [ ]:
i=1
while i<6:
  print(i);
  if i==3:
    break;
  i+=1

1
2
3

In [ ]:
n=int(input("your number is-"))
for i in range(1,n*11,1):
  if i%n==0:
    continue;
  print(i);

your number is-2
1
3
5
7
9
11
13
15
17
19
21