In [ ]:
list1=["sparky","princess","bandit","miner","log"];
print(list1);

['sparky', 'princess', 'bandit', 'miner', 'log']

In [ ]:
print(list1[0]);
print(list1[2]);
print(list1[ : :-1]);
list1[2]="mega night";
print(list1)
del list1[2];
print(list1);
list1.append("mega knight")

In [ ]:
a=[342342342343242323532532523,5352452345352354352453414231415,3463464342664463643664663446346334634646346346];
print(max(a))

3463464342664463643664663446346334634646346346

In [ ]:
num=[10,20,30,40,50];
sqrs=[];
for n in num :
  sqrs.append(n**2);
print(sqrs);

[100, 400, 900, 1600, 2500]

In [ ]:
#tuple
cr=("sparky","bandit","princess",98598209589389,32958,832905,30258,82352,3252,90,632983,92850);
print(cr[0]);
print(cr[2]);
print(cr[9])

sparky
princess
90

In [ ]:
rare={12,32,12,12,12,12,12,12,12,12,2,112,12,12,1212,234,2,43,5,3,1,32,3,43,3,6435,4,5,34,2,4,24,34,12,34,35466,4,}
print(rare)

In [ ]:
a={12,23,34};
b={12,224,46};
print(a|b);
print(a&b);
print("khatam");
print(a-b);
print(b-a);
print(a^b)

{224, 34, 23, 12, 46}
{12}
khatam
{34, 23}
{224, 46}
{224, 34, 46, 23}

In [ ]:
print("                     Bill                         ");
print("           input item as exit to end.....");
it=[ ];
final=[ ];
total=0
while 1==1:
  item=input("your item is- ");
  it.append(item);
  if item=="exit":
    break
  print("your item is",item);
  unit=int(input("items unit price is-"));
  print("items unit price is",unit);
  quantity=int(input("quantity of item is-"));
  total=total+(unit*quantity);
  final.append(unit*quantity);
print("your items are",it);
print("please ignore 'exit'");
print("your grand total is",final)
print('you need to pay $',total);
print("thank you")
print("bye-bye :D   ..................");
print(".............................................................................");

In [ ]:
#this is dictionary
dict={"name":"hrishikesh",
      "age":15,
      "adress":"nagpur",
      "name":"thanos"};
print(dict);
print(dict["name"]);
print("name is-",dict["name"]);
dict["age"]=13 ;
print(dict);
dict["name"]="hrishi";
print(dict);
del dict["adress"];
print(dict);
print(dict["name"]);

{'name': 'thanos', 'age': 15, 'adress': 'nagpur'}
thanos
name is- thanos
{'name': 'thanos', 'age': 13, 'adress': 'nagpur'}
{'name': 'hrishi', 'age': 13, 'adress': 'nagpur'}
{'name': 'hrishi', 'age': 13}
hrishi

In [ ]:
for x in dict:
  print(x);
  print(dict[x]);
for d in dict.values() :
  print(d)

In [ ]:
for x,y in dict.items():
  print(x,y);